<!DOCTYPE html>
<html>
  <head>
    <title>EyeDcs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <nav>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Clinics', clinics_path %></li>
          <li><%= link_to 'Services', services_path %></li>
          <li><%= link_to 'Diseases', diseases_path %></li>
        </ul>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
